/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 4341786 */
  src: url('../font/header.woff2') format('woff2'),
          url('../font/header.woff') format('woff'),
          url('../font/header.ttf') format('truetype');
}

.iHeader
  font-family  "iconfont"
  font-style normal