//全局的样式文件，可定义全局的变量、函数、混合等
//多行隐藏默认两行
nLine(line=2){
  display -webkit-box;
  -webkit-box-orient vertical;
  -webkit-line-clamp line;
  overflow hidden;
}

borderRadius(radius = 12px){
  border-radius radius
}